li.dev-item {
    background-color: #1C2228;
    box-shadow: 10px 10px 5px -1px rgba(0,0,0,1);
    border-radius: 2px;
    padding: 20px;
}

li.dev-item header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

li.dev-item header img{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    margin-right: 10px;
}

li.de-item header user-info{
    margin-left: 10px;
}

.user-info strong{
    display: block;
    font-size: 16px;
    color: #ddd9ce;
}

.user-info span{
    font-size: 13px;
    color: #ddd9ce;
    margin-top: 2px;
}

    li.dev-item p{
        text-align: justify;
        color: #ddd9ce;
        font-size: 14px;
        line-height: 20px;
        margin: 10px 0;
    }

    li.dev-item a{
        color: blueviolet;
        font-size: 14px;
        text-decoration: none;
    }

    li.dev-item a:hover{
        color: #5a2ea6;
    }

    .user-footer {
        display: flex;
        justify-content: space-between;
      }
      
      .user-footer button {
        cursor: pointer;
        width: 20px;
        margin-left: 15px;
        background: transparent;
        outline: none;
        border: 0;
        transition: color 0.5s;
        color: aliceblue;
      }
      .user-footer button:hover {
        color: #7d40e7;
      }